# Salin file ini menjadi .env lalu isi dengan nilai dari Supabase Dashboard
# (Settings -> API -> Project URL & anon/public key)
VITE_SUPABASE_URL=https://ejgqjxktwlpodhbymidj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_GwrUMlhubSxZ1VIcNKSFsA_-AKrjOG0

